@import '../../../variables.css';

.PrimaryCta {
  height: 60px;
  border-radius: 10px;
  background: var(--primary-cta-bg-color);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.24);
  border: none;
  border-radius: 10px;
  color: #FFF;
  width: 100%;
  font-size: 15px;
}