@import '../../../variables.css';

.PrimaryCta {
  height: 60px;
  background: var(--primary-ui-color);
  border: none;
  color: #FFF;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  transition: .5s ease background;
  border-radius: 0;
}

.PrimaryCta:hover {
  background: color(var(--primary-ui-color) alpha(-15%));
}