@import '../../../variables.css';

.primaryCta {
  height: 46px;
  border-radius: 10px;
  background: var(--primary-cta-bg-color);
  border: none;
  border-radius: 23px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  padding: 0 30px;
  margin: 10px 0;
  cursor: pointer;
}

.primaryCtaSmall {
  height: 38px;
  font-size: 14px;
}

.primaryCtaLarge {
  height: 60px;
  font-size: 15px;
}
