@import '../../../variables.css';

.SegmentController {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 30px;
}

.segment {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  z-index: 999;
  transition: .2s ease all;
  color: var(--primary-dark-color);
  font-weight: 600;
  text-transform: capitalize;
}

.segment:hover {
  color: var(--primary-ui-color);
}

.selectedBg {
  background-color: #000;
  content: ' ';
  position: absolute;
  top: 0;
  width: 50%;
  left: 0;
  border-radius: 50px;
  height: 100%;
  transition: .2s ease all;
}

.rightChecked {
  transform: translateX(100%)
}

.segment[data-checked="true"] {
  /*background-color: #000;*/
  color: #FFF;
  opacity: 1;
}

.browserButton {
  visibility: hidden;
  width: 0;
  height: 0;
  visibility: hidden;
}