@import '../../variables.css';

.siteLogo {
  position: fixed;
  left: 20px;
  top: 25px;
  z-index: 999;

  @media screen and (min-width: 670px) {
    left: 30px;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  background: #FFF;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  padding: 100px 20px 20px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .4s ease opacity;

  @media screen and (min-width: 670px) {
    display: inline-block;
    background: none;
    max-width: 760px;
    top: 28px;
    right: 20px;
    width: 100%;
    overflow: auto;
    height: initial;
    left: 200px;
    padding: 0;
    opacity: 1;
  }

  @media screen and (min-width: 1440px) {
    left: calc(50vw - 380px - 190px);
  }
}

.nav.isOpen {
  height: 100%;
  overflow: auto;
  opacity: 1;

  @media screen and (min-width: 670px) {
    transform: none;
    height: initial;
  }
}

.navUl {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}

.navLi {
  padding: 10px 0;
  @media screen and (min-width: 670px) {
    padding: initial;
    display: inline-block;
    margin-right: 15px;
    left: 30px;
    margin-right: 30px;
  }
}

.navLi:last-child {
  margin-right: 0;
}

.navLink {
  color: var(--primary-text-color);
  font-weight: 400;
  text-decoration: none;
  color: var(--primary-text-color);
  opacity: .4;
  font-size: 40px;
  font-weight: 900;
  transition: .5s ease opacity;

  @media screen and (min-width: 670px) {
    font-size: 15px;
    font-weight: 600;
  }
}

.navLink:hover {
  opacity: .7;
}

.account {
  @media screen and (min-width: 670px) {
    display: inline-block;
    position: fixed;
    top: 22px;
    right: 30px;
    font-size: 14px;
  }
}

/*Menu Button
-------------------------------*/
.menuIconTopLine,
.menuIconMiddleLine,
.menuIconBottomLine {
  height: 2px;
  width: 20px;
  background-color: var(--primary-dark-color);
  margin-left: 10px;
  margin-right: 10px;
}

.menuIconMiddleLine {
  margin-top: 4px;
  margin-bottom: 4px;
}

.menuIconTopLine,
.menuIconMiddleLine,
.menuIconBottomLine,
.menuIcon {
  transition: .2s;
  transition-timing-function: cubuc-bezier(0.5, 0.31, 0.84, 0.05);
}

.menuIcon.isOpen {
  transform: rotate(90deg);
}

.menuIcon.isOpen .menuIconTopLine {
  transform: translateY(-1px) translateX(3px) rotate(45deg);
  transform-origin: left center;
}
.menuIcon.isOpen .menuIconMiddleLine {
  opacity: 0;
}
.menuIcon.isOpen .menuIconBottomLine {
  transform: translateY(1px) translateX(3px) rotate(-45deg);
  transform-origin: left center;
}

.menuIcon {
  position: fixed;
  right: 20px;
  top: 30px;
  z-index: 9999;
  cursor: pointer;

  @media screen and (min-width: 670px) {
    display: none;
  }
}

.menuIcon {
  position: fixed;
  right: 10px;
  top: 16px;
  z-index: 9999;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 670px) {
    display: none;
  }
}

.menuIcon:focus {
  outline: none;
}