.text {
  font-size: 14px;
  color: #969696;
}

.spacebarButton {
  outline: none;
  background: none;
  border: 1px rgba(230,230,230,1) solid;
  border-radius: 7px;
  margin: .5em;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: .3s ease all;
}

.spacebarButton:hover {
  box-shadow: 0 3px 20px -3px rgba(0,0,0,0.2);
  transform: scale(1.02);
}

.spacebarButton:active {
  transform: scale(.97);
}

.spacebarButton:focus {
  box-shadow: 0 3px 20px -3px rgba(0,0,0,0.2);
  transform: scale(1.02);
}

