@import '../../variables.css';

.text {
  font-size: 12px;
  color: var(--light-text-color);
}

.spacebarButton {
  outline: none;
  background: none;
  border: 1px solid rgba(230,230,230,1);
  border-radius: 7px;
  margin: .5em;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: .3s ease border;
}

@media (min-width: 500px) {
  .spacebarButton {
    font-size: 14px;
  }
  .text {
    font-size: 14px;
  }
}

.spacebarButton:hover {
  border: 1px solid var(--primary-ui-color);
}

.spacebarButton:active {
}

.spacebarButton:focus {
}

