.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,5,.7);
  z-index: 99999;
  overflow: auto;
  transition: .2s ease all;
  opacity: 0;
}

.overlayReveal {
  opacity: 1;
}

.overlayClose {
  opacity: 0;
}

.modal {
  width: 325px;
  background-color: #FFF;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border-radius: 5px;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.closeButtonContainer {
  width: 100%;
  background: blue;
}

.closeButton {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 9px;
  opacity: .5;
  transition: .2s ease opacity;
}

.closeButton:hover {
  opacity: .8;
}

.closeButton::before {
  content: ' ';
  position: absolute;
  background: #4A4A4A;
  height: 12px;
  width: 0;
  border-radius: 2px;
  border: 1px solid black;
  transform: rotate(45deg);
  top: 4px;
}

.closeButton::after {
  content: ' ';
  position: absolute;
  background: #4A4A4A;
  height: 12px;
  width: 0;
  border-radius: 2px;
  border: 1px solid black;
  transform: rotate(-45deg);
  top: 4px;
}
