.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,5,.7);
  z-index: 99999;
  overflow: auto;
  transition: 5s ease all;
  opacity: 0;
}

.overlay.show {
  opacity: 1;
}

.modal {
  width: 325px;
  background-color: #FFF;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}