@import '../../variables.css';

.heading {
  font-family: 'Noticia Text', serif;
  font-weight: 300;
  font-size: 40px;
  color: #4A4A4A;
  padding: 20px;
  transition: .2s ease background-color;
  outline: none;
  border: 1px solid transparent;
  margin: 0 -20px;
}

.heading.isActive {
  border: var(--active-font-border);
}

.heading:hover {
  background-color: var(--font-hover-background);
}