@import '../../variables.css';

.siteLogo {
  position: fixed;
  left: 30px;
  top: 25px;
}

.nav {
  position: fixed;
  width: 100%;
  max-width: 760px;
  top: 30px;
  left: 150px;
  text-align: left;
  transition: .2s ease all;
}

@media (min-width: 1440px) {
  .nav {
    left: calc(50vw - 380px - 190px);
  }
}

.navUl {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navLi {
  display: inline-block;
  margin-right: 30px;
}

.navLi:last-child {
  margin-right: 0;
}

.navLink {
  color: var(--primary-text-color);
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
}