@import '../../variables.css';

.siteLogo {
  position: fixed;
  left: 20px;
  top: 25px;

  @media screen and (min-width: 500px) {
    left: 30px;
  }
}

.nav {
  position: fixed;
  max-width: 760px;
  top: 28px;
  right: 20px;
  text-align: left;
  transition: .2s ease all;

  @media screen and (min-width: 500px) {
    width: 100%;
    left: 200px;
  }

  @media screen and (min-width: 1440px) {
    left: calc(50vw - 380px - 190px);
  }
}

.navUl {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navLi {
  display: inline-block;
  margin-right: 15px;

  @media screen and (min-width: 500px) {
    left: 30px;
  }
}

.navLi:last-child {
  margin-right: 0;
}

.navLink {
  color: var(--primary-text-color);
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;

  @media screen and (min-width: 500px) {
    font-size: 15px;
  }
}