.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0;
  transition: all .3s;
  margin: 10px 0;
  display: inline-block;
}