@import '../../../variables.css';

/* Globally remove browser styles */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Add custom styles */
input[type=range] {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #E6E6E6;
  border-radius: 1.3px;
  margin-right: 0px;
}

input[type=range]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-ui-color);
  cursor: pointer;
  transition: .2s ease all;
}

input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}


input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/


.ComboSlider {
  display: flex;
  align-items: center;
  position: relative;
}

.Slider {
  width: 100%;
  margin: 0;
  margin-right: 10px;
}

.sliderContainer {
  position: relative;
  position: relative;
  margin: 0 20px 0 10px;
  display: inherit;
}

.sliderFill {
  content: ' ';
  position: absolute;
  display: inline-block;
  height: 2px;
  background: var(--primary-ui-color);
  left: 0;
  pointer-events: none;
}

.Input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  background: #FFF;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0;
  transition: all .3s;
  margin: 10px 0;
  width: 80px;
  flex-grow: 0;
  flex-shrink: 0;
}

.stepUp, .stepDown {
  position: absolute;
  right: 0;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  outline: none;
  transition: .2s ease transform;
  cursor: pointer;
}

.stepUp:hover, .stepDown:hover {
  transform: scale(1.3);
}

.stepUp {
  top: 10px;
}

.stepDown {
  bottom: 10px;
}

.stepUp:before {
  content: ' ';
  position: absolute;
  top: 10px;
  right: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent var(--primary-ui-color) transparent;
}

.stepDown:before {
  content: ' ';
  position: absolute;
  top: 6px;
  right: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: var(--primary-ui-color) transparent transparent transparent;
}