@import '../../variables.css';

@keyframes loading {
    0% { opacity: 0; },
    100% { opacity: 1; }
}

.font {
  opacity: 0;
  padding: 20px;
  outline: none;
  border: 1px solid transparent;
  animation: loading .7s forwards;
  animation-delay: .5s;
  display: inline-block;
  margin-right: -20px;
  margin-left: 20px;
  width: calc(100% - 20px);

}
.font.isActive {
  border: var(--active-font-border);
}

.font:hover {
  background-color: var(--font-hover-background);
}

.fontContainer {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (min-width: 1440px) {
    margin-left: -60px;
  }
}

.lock {
  align-self: center;
}
