@import '../../variables.css';

@keyframes loading {
    0% { opacity: 0; },
    100% { opacity: 1; }
}

.font {
  opacity: 0;
  padding: 20px;
  outline: none;
  border: 1px solid transparent;
  margin: 0 -20px;
  animation: loading .7s forwards;
  animation-delay: .5s;
  display: inline-block;
}
.font.isActive {
  border: var(--active-font-border);
}

.font:hover {
  background-color: var(--font-hover-background);
}