.Label {
  width: 28%;
  font-size: 11.5px;
  font-weight: 500;
  margin-right: 10px;
  display: inline-block;
  text-align: right;
}

.FormField {
  display: flex;
  align-items: center;
}

.Field {
  display: inline-block;;
  width: 75%;
}