.Label {
  width: 28%;
  font-size: 12px;
  font-weight: 900;
  margin-right: 10px;
  display: inline-block;
  text-align: right;
}

.FormField {
  display: flex;
  /*height: 100px;*/
  align-items: center;
}

.Field {
  display: inline-block;;
  width: 75%;
}