.siteLogo {
  position: fixed;
  left: 30px;
  top: 25px;
}

.controlsButton {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.fonts {
  margin: 0 auto;
  max-width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100vw;
  height: 100vh;
  transition: .2s ease all;
}

.content::before {
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  transition: .2s ease all;
  visibility: hidden;
}

.content.controlsOpen {
  width: 100%;
}

.content.controlsOpen::before {
  visibility: visible;
  opacity: .5;
}

@media (min-width: 1000px) {
  .content.controlsOpen::before {
    visibility: hidden;
  }
}

@media (min-width: 1000px) {
  .content.controlsOpen {
    width: calc(100% - 375px);
  }
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  width: 375px;
  height: 100vh;
  border-left: 1px solid #E2E1E3;
  transform: translate3d(375px, 0, 0);
  transition: .2s ease all;
  z-index: 999;
  background: #FFF;
}

.controls.controlsOpen {
  transform: translate3d(0,0,0);
}

.GetFonts {
  position: absolute;
  bottom: 20px;
}