.controlsButton {
  position: fixed;
  z-index: 1;
  top: 70px;
  right: 20px;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;

  @media screen and (min-width: 500px) {
    /*top: 30px;*/
    right: 30px;
  }
}

.fonts {
  margin: 0 auto;
  max-width: 760px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100vh;
  transition: .2s ease all;
  padding: 0 20px;

  @media screen and (min-width: 500px) {
    padding: 0 30px;
  }

  @media screen and (min-width: 1000px) {
    width: calc(100% - 390px);
  }
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 375px;
  height: 100vh;
  padding-top: 60px;
  transition: .3s ease transform;
  transform: translateX(105%);
  z-index: 0;

  @media screen and (min-width: 670px) {
    z-index: 1;
  }
  @media screen and (min-width: 890px) {
    z-index: 0;
  }
}

.controls.isOpen {
  transform: translate3d(0,0,0);
}

.getFonts {
  position: absolute;
  bottom: 20px;
}