@import '../../../variables.css';

.container {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  background: #FFF;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: .3s ease border, .3s ease box-shadow;
}

.container.isHovered {
  border: 1px solid #49a9ee;
}

.container.isFocused {
  outline: none ;
  border: 1px solid #49a9ee;
  box-shadow: 0 0 1px 1px #49a9ee;
}

.colorPickerSwatch {
  display: inline-block;;
  flex-shrink: 0;
  flex-grow: 0;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: .1s ease transform;
}

.colorPickerSwatch:hover {
  transform: scale(1.05);
}

.ColorCode {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0;
  transition: all .3s;
  margin: 0;
  width: 100%;
}

.ColorCode:focus {
  outline: none;
}

.colorPicker {
  position: absolute;
  top: calc(100% + 6px);
  z-index: 9999;
  visibility: hidden;

  /* component overrides */
  width: 100% !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 5px !important;
}

.colorPicker.isOpen {
  visibility: visible;
}