.ColorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  background: #FFF;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: .3s ease border, .3s ease box-shadow;
}

.ColorPicker.isHovered {
  border: 1px solid #49a9ee;
}

.ColorPicker.isFocused {
  outline: none ;
  border: 1px solid #49a9ee;
  box-shadow: 0 0 1px 1px #49a9ee;
}

.NativeColorSwatch {
  visibility:hidden;
}

.CustomColorSwatch {
  display: inline-block;;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: .1s ease transform;
}

.CustomColorSwatch:hover {
  transform: scale(1.05);
}

.ColorCode {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0;
  transition: all .3s;
  margin: 0;
  width: 100%;
}

.ColorCode:focus {
  outline: none;
}