:root {
  --primary-ui-color: #0A79FF;
  --primary-dark-color: #141419;
  --primary-text-color: #141419;
  --medium-text-color: #4A4A4A;
  --light-text-color: #969696;
  --border-color: #E4E4E4;
  --primary-cta-bg-color: #141419;
  --cta-text-color: #FFF;
  --font-hover-background: #F0F0F5;
  --active-font-border: 1px solid #F0F0F5;
}