.controlPanel {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
  position: relative;
  padding: 10px 20px 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 2px 30px -5px rgba(0,0,0,.2);
}

.panelTitle {
  font-size: 28px;
  font-weight: 600;
  padding-left: 10px;
}

.bottomActions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  padding: 10px 15px;
  top: 30px;
  right: 10px;
}