.ControlPanel {
  width: 100%;
  top: 15px;
  right: 15px;
  border-radius: 15px;
  padding: 20px;
  height: calc(100vh - 30px);
  overflow-y: scroll;
  position: relative;

  background: #FFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.12);
}

.BottomActions {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  /*overflow: hidden;*/
}

.closeButton {
  position: absolute;
}

.closeButton {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 40px;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}