.ControlPanel {
  width: 100%;
  top: 60px;
  border-radius: 15px;
  padding: 70px 20px 20px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background: #FFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.12);

  @media screen and (min-width: 400px) {
    right: 15px;
  }

  @media screen and (min-width: 500px) {
    top: 15px;
    height: 100%;
  }
}

.BottomActions {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}

.closeButton {
  position: absolute;
}

.closeButton {
  position: fixed;
  z-index: 9999;
  top: 75px;
  right: 20px;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;

  @media screen and (min-width: 400px) {
    right: 30px;
  }

  @media screen and (min-width: 500px) {
    top: 30px;
    right: 40px;
  }
}