.Select{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0;
  transition: all .3s;
  margin: 10px 0;
  display: inline-block;
}

.Select:hover {
  border: 1px solid #49a9ee;
}

.Select:focus {
  outline: none ;
  box-shadow: 0 0 0 2px #49a9ee;
}

.Label {
  width: 28%;
  font-size: 12px;
  font-weight: 900;
  margin-right: 10px;
  display: inline-block;
  text-align: right;
}

.FormField {
  display: flex;
  height: 100px;
  align-items: center;
}

.Field {
  display: inline-block;;
  width: 75%;
}

.ComboSlider {
  display: flex;
}

.Slider {
  width: 100%;
  margin: 0;
  margin-right: 10px;
}

.Input {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*width: 33%;*/
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0;
  transition: all .3s;
  margin: 10px 0;
  display: inline-block;

  flex: 0 0 30px;
}
