.Select{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  height: 36px;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

.Select:focus {
  outline: none;
  border-bottom: 2px solid #008CFF;
}